<div class="page-header">
  <% if (config.logo !== false) { %>
  <div class="header-logo"></div>
  <% } %>
  <p><% if (config.subtitle){ %><%= config.subtitle%><% } else { %><%= config.title%><% }%></p>
</div>

<%- partial('_partial/index', {index: true}) %>
